# FORMAS DE CONEXÃO

# Conexão com Windows Authentication
# CONNECTION_STRING=Server=(localdb)\MSSQLLocalDB;Database=GerenciamentoPatrimonios;Trusted_Connection=True;TrustServerCertificate=True;

# Server Authentication (Usuário e senha)
# CONNECTION_STRING=Server=(localdb)\MSSQLLocalDB;Database=GerenciamentoPatrimonios; User Id=SUA_SENHA;TrustServerCertificate=True;
